[submodule "dsp"]
	path = dsp
	url = git@github.com:wavepot/dsp.git
	branch = master
[submodule "editor"]
	path = editor
	url = git@github.com:wavepot/editor.git
	branch = master
[submodule "shader"]
	path = shader
	url = git@github.com:wavepot/shader.git
	branch = master
