[submodule "editor"]
	path = editor
	url = git@github.com:wavepot/editor.git
	branch = master
[submodule "shader"]
	path = shader
	url = git@github.com:wavepot/shader.git
[submodule "sound"]
	path = sound
	url = git@github.com:wavepot/sound.git
